@import url(./__iframe/video__iframe.css);
@import url(./__iframes/video__iframes.css);
@import url(./__iframe-item/video__iframe-item.css);

.video{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: -60px;
}